<div className="space-y-3 bg-white">
  <div className="space-y-4 text-gray-900">
    <h1 className="flex items-center gap-2 font-semibold">
      PRODUCT DETAILS <FileSpreadsheet className="h-5 w-5" />
    </h1>
    <div>
      <h2 className="font-semibold">Design Detail</h2>
      <p>{product.description}</p>
    </div>
    <div>
      <h2 className="font-semibold">Size & Fit</h2>
      <p>Length : 5.5 metres plus 0.8 metre blouse piece</p>
      <p>Width : 1.06 metres (approx.)</p>
    </div>
    <div>
      <h2 className="font-semibold">Material & Care</h2>
      <p>Saree Fabric : {product?.setDetails?.sareeFabric}</p>
      <p>Blouse Fabric : {product?.setDetails?.blouseFabric}</p>
      <p>{product?.fashionDetails?.careInstructions}</p>
    </div>
    <div>
      <h2 className="font-semibold mb-2">Specifications</h2>
      <div className="grid grid-cols-2 gap-x-6 gap-y-3">
        <div className="pb-1 border-b border-gray-200">
          <p className="text-gray-500 text-sm">Type</p>
          <p>{product?.setDetails?.setType}</p>
        </div>
        <div className="pb-1 border-b border-gray-200">
          <p className="text-gray-500 text-sm">Ornamentation</p>
          <p>{product?.fashionDetails?.ornamentation}</p>
        </div>
        <div className="pb-1 border-b border-gray-200">
          <p className="text-gray-500 text-sm">Border</p>
          <p>{product?.fashionDetails?.border}</p>
        </div>
        <div className="pb-1 border-b border-gray-200">
          <p className="text-gray-500 text-sm">Blouse Fabric</p>
          <p>{product?.setDetails?.blouseFabric}</p>
        </div>
        <div className="pb-1 border-b border-gray-200">
          <p className="text-gray-500 text-sm">Blouse</p>
          <p>{product?.setDetails?.blouseIncluded}</p>
        </div>
        <div className="pb-1 border-b border-gray-200">
          <p className="text-gray-500 text-sm">Saree Fabric</p>
          <p>{product?.setDetails?.sareeFabric}</p>
        </div>
        <div className=" border-gray-200">
          <p className="text-gray-500 text-sm">Wash Care</p>
          <p>{product?.fashionDetails?.careInstructions}</p>
        </div>
      </div>
    </div>

    {/* Review Section */}
    <ReviewsSection product="{product}" user="{user}" />
  </div>
</div>
